Repository scrum-gang/authentication, pull requests merged in 2019-02, with the labels that each got.

#16 Feature/email verification
  .gitignore
  auth.js
  models/User.js
  package.json
  routes/users.js
Labels: JWT, REST API, enhancement, feature

#22 test: Implemented testing framework for endpoint functionality
  .eslintrc.js
  .gitignore
  .travis.yml
  README.md
  auth.js
  config.js
  index.js
  models/User.js
  package.json
  routes/users.js
  test/functionality/endpoints.js
Labels: REST API, enhancement, test

#34 enhancement: Updated README and added API docs
  README.md
  doc/deleteUser.md
  doc/getUserID.md
  doc/getUsers.md
  doc/login.md
  doc/putUser.md
  doc/self.md
  doc/signup.md
  test/functionality/endpoints.js
Labels: REST API, enhancement, test

#38 feature: Added /resend endpoint
  routes/users.js
Labels: REST API, enhancement

#41 enhancement: clean file structure and endpoint tests
  README.md
  doc/deleteUser.md
  doc/getUserID.md
  doc/getUsers.md
  doc/login.md
  doc/logout.md
  doc/putUser.md
  doc/resend.md
  doc/self.md
  doc/signup.md
  package.json
  src/auth.js
  src/config.js
  src/index.js
  src/models/InvalidToken.js
  src/models/User.js
  src/routes/users.js
  test/functionality/endpoints.js
Labels: documentation, enhancement, test

#43 Added user object to /login return
  src/routes/users.js
  test/functionality/endpoints.js
Labels: enhancement
